########## Add a submodle to the main repo in 'src/' directory ###############

#1. Clone the submodule repo and import it to this repo: `git submodule add -f https://github.com/IliyanKostov9/private-repo-template.git submodule-name`

#2.[Optional] Create new remote branch named 'submodule-name': `git submodule init submodule-name`

#3.[Optional] Update the submodule to it's latest commit: `git submodule update --remote submodule-name`

#4.[Optional] Instead of writing these long commands, you can shorten it by just writing: `git submodule-name`
[submodule "src/submodule-name"]
	path = src/submodule-name
	url = https://github.com/IliyanKostov9/private-repo-template.git
	branch = prod
